body {
    background-color:  rgb(199, 170, 123);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    text-align: center;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}
p {
    text-align: center;
}
.escu {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(75, 4, 4);
}

.fonte {
    font-size: 17px;
    text-align: center;
}

.kleito {
    color: rgb(5, 113, 255);
}


.texto {    padding: 10px;
    background-color: #858585;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block; /* Garante que o link seja tratado como um bloco */
    margin-top: 10px;
    text-align: center;
}

.texto:hover {
  transition-duration: 0.3s;
  background-color: #aaa8a8; 
  color: #2e2d2d;  
  transform:translateY(0px);
  text-align: center;
}

.fonte_2 {
    font-size: 30px;
    text-align: center;
    
}

.cinza {
    color: rgb(100, 97, 97);
    
}

.texto_2 {
    padding: 10px;
    background-color: #858585;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-align: center;
    
    }

.texto_2:hover {
    transition-duration: 0.3s;
    background-color: #aaa8a8; 
    color: #292828;  
    transform:translateY(0px);
        
    }
    
.espolier {
    color: rgb(6, 93, 206);
}    


.cinza_verde {
    color: #486848;
    text-align: center;
}

.pe {
color: #ffa600;
}

.ci {
    color: #0ed10e;
}

.al {
    color: #ffff00;
}

.til_1 {
color: #9e0303da;
}

.censu {
    background-color: #000;
    padding: 2px;
    height: 25px;
    color: #fff;
    border-radius: 5px;
}

.es {
    color: rgb(168, 0, 168);
}

.kleito_menor {
    color: rgb(5, 113, 255);
    font-size: 30px;
}

.kleito_div {
    background-color: rgb(5, 113, 255);
    height: 20px;
    width: 20px;
    color: rgb(5, 113, 255);
    border-radius: 5px;
}
.escu_div {
    background-color: rgb(75, 4, 4);
    height: 20px;
    width: 20px;
    color: rgb(75, 4, 4);
    border-radius: 5px;
}

.centro {
    text-align: center
}

.es_div {
    background-color: rgb(168, 0, 168);
    height: 20px;
    width: 20px;
    color: rgb(168, 0, 168);
    border-radius:5px ;
}

.baixo {
    margin-bottom: 20px;
}


#linha_1 {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
    }