/* Estilos CSS para a calculadora */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  }
  
@media (max-width: 600px) {
  .caixa_pc, .caixa_pc_filha, .caixa-btn_pc {
      display: none !important;
  }
}

  .calculadora {
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  }
  #visor {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  }
  .botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  }
  button {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #f78400;
  color: rgb(3, 3, 3);
  cursor: pointer;
  transition: background-color 0.3s;
  }
  button:hover {
  background-color: #d87504;
  }
  .operador {
  background-color: #ffe600;
  color: black;
  }
  .operador:hover {
  background-color: #c7b303;
  color: black;
  } 

  .texto {    padding: 10px;
    background-color: #858585;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block; /* Garante que o link seja tratado como um bloco */
    margin-top: 10px;
}

.texto:hover {
  transition-duration: 0.3s;
  background-color: #aaa8a8; 
  color: #535252;  
  transform:translateY(0px);
}


@media (min-width: 601px) {
  .caixa-btn_mob {display: none;}
  }