body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #dbd3c9;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0eded;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.cell:hover {
    background-color: #dad7d7;
}

.btn-restart {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: background-color 0.3s;
}

.btn-restart:hover {
    background-color: #0056b3;
}


.btn-restart_1 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #026d10;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: background-color 0.3s;
}

.btn-restart_1:hover {
    background-color: #024d0c;
}


.laranja {
    color: orange;
}

.amarelo {
    color: rgb(201, 201, 5)
}

.azul {
    color: #076794;
}

.verde {
    color: rgb(39, 197, 39);
    font-size: 25px;
}
