body {
    background-color:#96acc0 ;
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.verde {
    color: green;
}

.amarelo {
    color: yellow;
}

.laranja {
    color: orange;
}

.texto_2 {
    padding: 10px;
    background-color: #858585;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    }

.texto_2:hover {
    transition-duration: 0.3s;
    background-color: #aaa8a8; 
    color: #535252;  
    transform:translateY(0px);
    
}

.caixa-btn {
    justify-content: center;
    display: flex;
    gap: 3rem;
    align-items: center; /* Adicione isso para centralizar horizontalmente */
    justify-content: center;
}

.inv {
    color:  #858585;
}

.inv:hover {
    color:  #aaa8a8;  
}

.texto_3 {
    background-color: green ;
    padding: 10px;
    height: 10px;
    border-radius: 10px;
    color: #fff;
}

.texto_3:hover {
    background-color: rgb(4, 158, 4);
    transition-duration: 0.5s;
    transform: translateX(0px);
}