* {
    font-family: sans-serif;
    
}

.fonte {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(164, 166, 167);
}


@media (max-width: 600px) {
    .caixa_pc, .caixa_pc_filha, .caixa-btn_pc {
        display: none !important;
    }

    .caixa-pai {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding: 1rem;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
        width: 80%;
        justify-content: center;
        margin: auto;
    }

}
.texto {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.hora {
    display: flex;
    justify-content: center;
    color: #5e4747;
}

.texto:hover {
    transition-duration: 0.5s;
    background-color: rgb(141, 248, 248);    
    transform:translateY(1px);
    }

.cinza {
    color: rgb(100, 97, 97);

}

.final {
    text-align: right;
}

.center {
text-align: center;
justify-content: center;
}

.center_2 {
margin-left: 80px;
}

.laranja {
    color: orange;
}

.amarelo {
    color: rgb(201, 201, 5)
}

.verde {
    color: green;
}

.bolinha {
    background-color: #ffffff60;
    /* padding: auto; */
    /* width: auto; */
    box-shadow: 5px 5px 5px grey;
    margin: auto;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 176px;
}


.bolinha_1 {
    background-color: #ffffff;
    text-align: center;
    padding: 0px;
    width: 380px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    margin: auto;
    margin-top: 176px;
    margin-right: 50px;
}

.lado {
    text-align: right;
}

.cinza_verde {
color: #486848;
text-decoration: none;
}

.cinza_laranja {
    color: #696b01;
}

.vermelho_amarelo {
    color: #7e6513;
}


.link_voltar {
    color: #005a7e;
    }

.link_voltar:hover {
    transition-duration: 0.5s;
    transform: translateX(0px);
    color: #03427c;
}

.vermelho_amarelo_1 {
    color: #01f4fc;
    font-size: 20px;
}

.amarelo_1 {
    color: rgb(255, 255, 15);
    font-family: 20px;
}

.laranja_1 {
    color: orange;
    font-size: 20px;
}

.breve {
    color: #cde405;
}

.lado_versao {
    text-align: right;
}

    
.texto_2 {
    padding: 10px;
    background-color: #6d6d6d;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    }

.texto_2:hover {
    transition-duration: 0.3s;
    background-color: #868686; 
    color: #474646;  
    transform:translateY(0px);
    
}

.texto_4 {
    padding: 10px;
    background-color: #797979;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 5rem;
}

.texto_4:hover {
    transition-duration: 0.3s;
    background-color: #aaa8a8; 
    color: #535252;  
    transform:translateY(0px);
}
        
.texto_3 {
    padding: 10px;
    background-color: #858585;
    color: #000;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    }

.texto_3:hover {
    transition-duration: 0.3s;
    background-color: #aaa8a8; 
    color: #535252;  
    transform:translateY(0px);
    
}

.caixa-pai_1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 5rem;
    background-color: #fff;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
}
    
.caixa_1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#linha_1 {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-top: 40px;
    }
    
@media (min-width: 601px) {
    .caixa-btn_mob {display: none;}
    }

    @media (min-width: 601px) {
        .center_2 {margin-left: 25px;}
    }
    
    .vermelho_amarelo_centro {
    text-align: center;
    color: #721717;
    }

    .vermelho {
        color: #af0505;
    }

    .btn-caixa-color {
    color: #858585;
    } 

    .fa-solid_fa-earth-americas {
    color: #1139f0;
    }
/* gap */
.es {
    color: rgb(83, 8, 204);
}
.pe {
    color: #926107;
    }
    
    .ci {
        color: #0c8d0c;
    }
    
    .al {
        color: #8a8a07;
    }
    
    .um {
        color: #ce2929;
    }

.dois {
    color: #3d5f20;
}

.logo_pg {
    border-radius: 20px;
    background-color: #ffffff54;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: right;
}

 
#linha {
    width: 100%;
    border-bottom: 1px solid #504f4f;
    margin-top: 100px;
    }
