*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(212, 213, 214);
}

@media (max-width: 600px) {
    .caixa_pc, .caixa_pc_filha, .caixa-btn_pc {
        display: none !important;
    }
}

.bots {
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.links {
    margin-left: 15px;
    text-decoration: none;
    color:#7742da
}

@media (min-width: 601px) {
    .caixa-btn_mob {display: none;}
    }
